#filter {
  background: $grey;
  width: 30%;
  max-width: 300px;
  display: inline-block;
  float: left;

  .inside {
    padding: 20px;
    max-width: 300px;
  }
  h4 {
    font-size: 0.9rem;
    margin-bottom: 25px;
    text-transform: 700px;
  }
  select {
    background: transparent;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: 1b1b1b;
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }

  .filters {
    .title {
      font-size: 0.9rem;
      display: block;
      margin-bottom: 1rem;
      color: $darkgrey;
    }

    input[type="text"] {
      border-radius: 5px;
      font-size: 1rem;
      padding: 0.4rem;
      width: 45%;
      display: inline-block;
      margin-right: 2.5%;
    }

    &.extras {
      label {
        display: block;
        width: 100%;
        padding: 10px 0;
        input[type="checkbox"] {
          float: right;
        }
      }
    }
  }
}

#listings {
  width: 70%;
  float: left;
  display: inline-block;
  padding: 15px;
  background: $offwhite;

  .search-area {
    input[type="text"] {
      color: $lightgrey;
      width: 70%;
      background: transparent;
      font-size: 2rem;
      border: none;
      border-bottom: 2px solid $lightgrey;
      margin-bottom: 20px;
    }
  }

  .sortby-area {
    margin-bottom: 20px;

    .results {
      color: $lightgrey;
      font-size: 0.8rem;
      display: inline-block;
    }
    .sort-options {
      float: right;

      select {
        font-size: 0.9rem;
        font-weight: 300;
        border: 1px solid $lightgrey;
        background: transparent;
        padding: 5px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
      }

      .view {
        display: inline-block;
        margin-right: 15px;
        border: none;

        .fas {
          font-size: 1.5rem;
          margin-right: 15px;
        }
      }
    }
  }
}
