@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

header {
  background: #035959;
  color: white;
  overflow: auto;
  padding: 20px 15px;

  .fa {
    color: red;
    font-size: 5rem;
    // margin-right: 15px;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: 600;
    float: left;
    font-family: "Satisfy", cursive;
  }

  nav {
    float: right;
    a {
      text-decoration: none;
      color: #f2f2f2;
      padding: 10px 20px;
      text-transform: capitalize;
      font-weight: 300;
      font-size: 0.9rem;

      &:hover {
        color: #ff718e;
      }
      &.register-btn {
        background: $pink;
        padding: 7px 25px;
        text-align: center;
        color: white;
        border-radius: 5px;
      }
    }
  }
}
