header {
  background: #0c002b;
  color: white;
  overflow: auto;
  padding: 20px 15px;

  .logo {
    float: left;
  }
  nav {
    float: right;
    a {
      text-decoration: none;
      color: white;
      padding: 10px 20px;
      text-transform: capitalize;
      font-weight: 300;
      font-size: 0.9rem;

      &:hover {
        color: #ff718e;
      }
      &.register-btn {
        background: $pink;
        padding: 7px 25px;
        text-align: center;
        color: white;
        border-radius: 5px;
      }
    }
  }
}
