$darkpurple: #035941;
$grey: #faf7f5;
$offwhite: #fffeff;
$pink: #03734a;
$darkgrey: #048c8c;
$lightgrey: #dadde2;
$filtercolor: #035941;
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: "only screen and (min-wdith: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
